/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  padding-left: 10px;
  transition: all 0.3s;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

input::placeholder {
  opacity: 1;
  transition: all 0.3s;
}

input:focus {
  outline: none;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
